.BookReader {
	display: flex;
	flex-direction: column;
	background-color: #efefe0;
	height: 100vh;
}

.BookReader__chapter {
	margin: 50px 15%;
}

.BookReader__chapter_content {
	font-size: 18px;
	line-height: 24px;
}

.BookReader__btnGroup {
	display: flex;
	justify-content: space-between;
}

.BookReader__btnLeft {
	position: absolute;
	left: 0;
	height: 100%;
	font-size: 40px;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 100px;
}

.BookReader__btnRight {
	position: absolute;
	right: 0;
	height: 100%;
	font-size: 40px;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 100px;
}

.BookReader__btnFinish {
	position: absolute;
	right: 0;
	height: 100%;
	font-size: 24px;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 100px;
}

.BookReader__nextBtn {
	display: block;
	margin: 20px auto;
	padding: 5px 15px;
	background-color: #1c1f22;
	border: none;
	border-radius: 5px;
	color: #efefe0;
	font-family: "EB Garamond", serif;
	font-size: 18px;
}

.BookReader__nextBtn:hover {
	background-color: #f4d35e;
	color: #1c1f22;
}

.BookReader__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "EB Garamond", serif;
}

.BookReader__heading {
	font-size: 32px;
	margin: 20px;
}

.BookReader__author {
	font-size: 18px;
	margin: 10px;
}
.BookReader__title > img {
	max-height: 500px;
	max-width: 400px;
}

.BookReader__chapter_heading {
	font-family: "EB Garamons", serif;
}

.BookReader__chapter_content {
	font-family: "Montserrat", sans-serif;
	line-height: 26px;
}
