.BookDisplay__img {
	height: 400px;
	align-self: center;
}

.BookDisplay__book {
	background-color: #efefe0;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding: 5%;
}

.BookDisplay__info {
	text-align: center;
	padding: 15px 30px;
	display: flex;
	flex-direction: column;
}

.BookDisplay__info > h1 {
	font-family: "EB Garamond", serif;
	font-size: 32px;
}

.BookDisplay__info > h2 {
	font-family: "EB Garamond", serif;
	font-size: 18px;
}

.BookDisplay__info > p {
	font-family: "Montserrat", sans-serif;
}

.BookDisplay__btn {
	font-family: "EB Garamond", serif;
	font-size: 16px;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: #1c1f22;
	color: #efefe0;
	text-decoration: none;
	margin-top: 25px;
}

.BookDisplay__btn:hover {
	background-color: #f4d35e;
	color: #1c1f22;
}
