.LandingPage {
	background-image: url("../../images/landing_page.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: calc(100vh - 70px);
	position: absolute;
	padding-right: 55%;
}

.LandingPage__title {
	font-family: "EB Garamond", serif;
	font-size: 40px;
	color: #1c1f22;
	margin-left: 20%;
}

.LandingPage__p {
	font-family: "Montserrat", sans-serif;
	padding: 20px;
	margin: 20px;
	line-height: 24px;
	color: #1c1f22;
}

.LandingPage__link {
	margin-left: 20%;
	border: 1px solid #1c1f22;
	text-decoration: none;
	color: #1c1f22;
	padding: 10px;
	border-radius: 10px;
}

.LandingPage__link:hover {
	background-color: #ebebd3;
}
