.SignUpForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #efefe0;
	height: calc(100vh - 50px);
}

.SignUpForm__title {
	font-family: "EB Garamond", serif;
	font-size: 40px;
}

.SignUpForm__label {
	font-family: "EB Garamond", serif;
	font-size: 16px;
}

.SignUpForm__input {
	margin: 10px;
	font-size: 16px;
}

.SignUpForm__form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.SignUpForm__submit {
	font-size: 18px;
	font-family: "EB Garamond", serif;
	background-color: #efefe0;
	border: 1px solid #1c1f22;
	border-radius: 5px;
	padding: 3px;
	margin: 15px;
}

.SignUpForm__submit:hover {
	background-color: #f4d35e;
}
