.MyEditor {
	margin: 30px;
}

.MyEditor__textarea {
	border: 1px solid black;
	width: 30%;
	height: 200px;
	padding: 5px;
	overflow: auto;
	resize: both;
}

.MyEditor__preview {
	width: 30%;
	height: 200px;
	border: 1px solid black;
	padding: 5px;
	word-wrap: break-word;
	overflow: auto;
	resize: both;
}
.MyEditor__preview > * {
	margin: 0;
	padding: 0;
}
