.BooksItem {
	display: flex;
	flex-direction: column;
	margin: 15px;
	position: relative;
}

.BooksItem__cover:hover {
	filter: saturate(110%);
	filter: contrast(110%);
}

.BooksItem__cover {
	width: 200px;
	height: 300px;
	border-radius: 5px;
}

.BooksItem__title_container {
	position: absolute;
	bottom: 0;
	width: 200px;
	border-radius: 5px;
	background-color: rgba(28, 31, 34, 0.7);
}

.BooksItem__title {
	color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	padding: 10px;
	margin: 0;
}
