.Nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1c1f22;
	padding: 10px 0;
	font-size: 12px;
}

.Nav__logout,
.Nav__account,
.Nav__register,
.Nav__login {
	padding: 0 20px;
}

.Nav__logo_img {
	width: 30px;
	padding: 0 20px;
}

.Nav__logo {
	display: flex;
	align-items: center;
}

.Nav__link {
	font-family: "EB Garamond", serif;
	font-weight: 500;
	color: #d6d6d6;
	text-decoration: none;
}

.Nav__link:hover {
	color: #f4d35e;
}

.Nav__link_logo {
	display: flex;
	align-items: center;
}
